<!DOCTYPE>
<html lang="es" >
	<head>
		<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
		<link rel="canonical" href="{{ .Site.BaseURL }}" />
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/entireframework.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/style.css" />
		<link rel="icon" type="image/jpeg" href="{{ .Site.BaseURL }}/favicon.jpg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8" />
	</head>
	<body>
		<header class="container" >
			<h1 class="site-title" >SARUS</h1>
		</header>
		{{ partial "nav.html" . }}
		<main class="container">
